# Frontend
frontend/node_modules
frontend/dist

# Backend
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
tmp/

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
